{% if TWITTER_CARDS and USE_OPEN_GRAPH %}
  {% if article and article.image or page and page.image %}
    <meta name="twitter:card" content="summary_large_image"/>
  {% else %}
    <meta name="twitter:card" content="summary"/>
  {% endif %}
  {% if TWITTER_USERNAME %}
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}"/>
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}"/>
  {% endif %}
  {% if article %}
    {% if article.image %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ article.image }}"/>
    {% elif OPEN_GRAPH_IMAGE %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
  {% elif page %}
    {% if page.image %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ page.image }}"/>
    {% elif OPEN_GRAPH_IMAGE %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
  {% endif %}
{% endif %}
